// Make copy of deault styles, keep as reference before modifying.

// ====================================  COMMON  ============================================== 
$background-color: lighten($app-lightgray, 3%);
$link-color: $app-blue;
$link-hover: lighten($link-color, 20%);

// ----------  BUTTON  ---------
$button-text-size: 1em;
$button-text-color: #fff;
$button-text-hover-color: #fff;
$button-bg-color: $app-blue;
$button-border-radius: 24px;
$outline-button-text-color: $app-blue;
$outline-button-bg-color: transparent;
$outline-button-outline-color: $app-blue;


// ====================================  HEADER  =============================================== 
$header-bg-color: #051a34cc;
$header-text-color: #fff;
$header-logo-max-width: 240px;
$header-logo-img-height: 26px;
$header-logo-margin: 0 4px;
$header-search-bt-color: $blue-dark;
$header-search-input-bg-color: darken($blue-gray-dark, 10%);
$header-search-input-bottom-border: solid 1px darken($app-medgray, 18%);
$header-search-input-text-color: $app-lightgray;
$header-searchbar-bg-color: darken($blue-gray-dark, 10%);
$header-profile-header-bg-color: $app-lightgray;
$header-profile-header-name-color: #222;
$header-profile-logout-color: $app-red;
$header-profile-menu-bg-color:#fff;
$header-profile-menu-text-color: #555;
$header-profile-menu-text-hover-color: $link-color;
$header-profile-role-border-top: rgba(255, 255, 255, 0.3);
$header-badge-color: $app-red;


// ====================================  NAV  ===================================================
$nav-text-color: #fff;
$nav-active-text-color: lighten($app-blue, 10%);
$nav-second-tier-bg-color: rgba(5, 26, 52, .97);
$nav-second-tier-text-color: #fff;
$mobile-nav-bt-divider: solid 1px rgba(255, 255, 255, .2);
$mobile-menu-li-divider-color: rgba(255,255,255, 0.14);
$mobile-menu-bg-color: $blue-gray-dark;


// ====================================  BANNER  ================================================
$banner-button-text-size: 1.2em;
$banner-button-text-color: #fff;
$banner-button-text-hover-color: $app-blue;
$banner-button-bg-color: $app-blue;


// ====================================  FOOTER  ================================================ 
$footer-bg-color: $blue-gray-dark;
$footer-text-color: $blue-gray-light;
$footer-link-color: $app-lightgray;
$footer-divider-color: darken($blue-gray-light, 18%);
$footer-directory-label-color: #ededed;


// ====================================  CARD  =================================================== 
$card-bg-color: #fff;
$card-bg-hover-color: lighten($app-lightgray, 5%);
$card-border-color: #e6e6e6;
$card-border-color-mobile: #d1d2d4;
$card-border-radius: 14px;
$card-title-text-size: 1.4em;
$card-title-text-color: $app-darkgray;
$card-arrow-color: darken($app-gray, 10%);
$card-panel-text-color: darken($app-medgray, 10%);
$card-panel-divider-color: $app-gray;
$nonexpand-card-link-color: $app-blue;


// ====================================  RELATED CONTENT  ========================================
$related-content-bg-color: #fff;
$related-item-link-color: $app-blue;
$related-item-small-text-color: $app-medgray;
$related-item-bg-hover-color: lighten($app-lightgray, 1%);
$related-item-bg-border-radius: 18px;
$related-item-smallview-border-bottom: solid 1px lighten($app-gray, 6%);
$related-item-img-border-radius: 100%;


// =====================================  QUICKLINK (SMALL TILE)  ===============================================
$quicklink-label-color: #555;
$quicklink-label-hover: $app-blue;
$quicklink-icon-medical-color: $app-orange;
$quicklink-icon-clock-color: $app-green;
$quicklink-icon-person-color: $app-blue;
$quicklink-icon-graph-circle-color: $blue-gray;
$quicklink-icon-spark-color: $app-yellow;


// =====================================  UTILITY  ===============================================
$pin-color: lighten($app-medgray, 2%);
$pin-active-color: $app-orange;
$popover-text: darken($app-yellow, 24%);;
$popover-bg-color: lighten($app-yellow, 10%);
$popover-border-radius: 8px;
$system-msg-bg-color: $app-yellow;
$system-msg-text-color: #222;
$system-msg-text-size: 1em;
$system-msg-close-bt-text-color: #222;