.donutchart{
    .donutchart-innertext-label{
        display:none;
        //font-size:.74em;
        // letter-spacing: -1px
    }
    .donutchart-innertext-value{
        font-size:1.2em;
        letter-spacing: -1px;
        margin-top: -5px
    }
}