.ficon-pin-dark{ 
    font-size:1.2em;
    color: $pin-color;
    @include border-radius(100px);
    padding: 17px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.pinned{color: $pin-active-color}
}
.cardpin{right:4px;}

.iva-trigger{
    bottom:60px;
    width:42px;
    height:40px;
    padding: 6px 8px 8px 8px;
    background-color: darken($app-green, 8%);
    color:#fff;
    font-size: .74em; font-weight:bold;
    @include border-radius-custom(8px, 0, 0, 8px);

    @media only screen and (max-width: $medium) {
        bottom:60px;
        width:44px;
        height:36px;
        padding: 4px 8px 8px 8px;
        font-size: .7em;
    }
}

.pinz{
    .quicklinks &{
        right: 4px;
        top: -10px
    }
    .flipwrap-med &{
        right: 12px;
        top: 14px
    }
}


// ========================================= SYSTEM MESSAGE ==============================================

@-webkit-keyframes sysmAppear {0% {margin-top:-120px}} /* Safari 4.0 - 8.0 */
@keyframes sysmAppear {0% {margin-top:-120px}} /* Standard syntax */

@-webkit-keyframes dismiss {0% {top:0px}} /* Safari 4.0 - 8.0 */
@keyframes dismiss {0% {top:0px}} /* Standard syntax */

.system-message{
    -webkit-animation-name: sysmAppear; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /*Safari 4.0 - 8.0 */
    animation-name: sysmAppear;
    animation-duration: .5s;
    background-color: $system-msg-bg-color;
    color: $system-msg-text-color;
    font-size: $system-msg-text-size;
    margin-top:0px; 

    &.dismiss{
        -webkit-animation-name: dismiss; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1s; /*Safari 4.0 - 8.0 */
        animation-name: dismiss;
        animation-duration: 1s;
        transition: 1s;
        margin-top:-120px;  
    }
    
    .sysmsg-close{
        transition: 0.4s; font-size: 1rem;
        cursor:pointer; width:160px; padding:6px 8px; margin:12px auto 4px auto;
        @include border-radius(28px);
        border:solid 1px $system-msg-close-bt-text-color;
        color: $system-msg-close-bt-text-color;
        &:hover{
            background-color: $system-msg-close-bt-text-color;
            color: #fff;
        }
    }
}